 <a name="1"></a>
# <span style="color:green">Задачи исследования:<span>

Исследовать архив объявлений о продаже квартир в Санкт-Петербурге и соседних населённых пунктов за несколько лет и определить рыночную стоимость объектов недвижимости.

По каждой квартире на продажу доступны два вида данных:
* первые вписаны пользователем
* вторые — получены автоматически на основе картографических данных. Например, расстояние до центра, аэропорта, ближайшего парка и водоёма.

# План 

## 1. Осмотр и изучение данных

## 2. Предобработка данных

- проверка и предварительный анализ
- подготовка и очистка (каждую колонку)

## 3. Добавление данных
- добавление дополнительных метрик

## 4. Исследовательски анализ данных


## 5. Выводы и результаты исследования

# 1. Импорт библиотек и чтение данных

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('datasets/eda_real_estate_data.csv', sep='\t')

In [4]:
df.head()

,building_series_id,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,area,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,1564812,20,13000000.0,108.0,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,NaN,False,108.0,False,25.0,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,NaN,7,3350000.0,40.4,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,NaN,False,40.4,False,11.0,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,Сталинский,10,5196000.0,56.0,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,NaN,False,56.0,False,8.3,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,NaN,0,64900000.0,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,False,159.0,False,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,NaN,2,10000000.0,100.0,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,NaN,False,100.0,False,41.0,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0

In [5]:
df.sample(5)

,building_series_id,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,area,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
8095,NaN,6,3999000.0,36.0,2016-08-20T00:00:00,1,2.60,17.0,17.0,17,False,False,36.0,False,10.0,2.0,Санкт-Петербург,18849.0,17852.0,0.0,NaN,2.0,261.0,649.0
7436,NaN,17,2890000.0,57.1,2016-02-26T00:00:00,3,2.50,5.0,39.0,3,False,False,57.1,False,4.7,1.0,посёлок городского типа Павлово,NaN,NaN,NaN,NaN,NaN,NaN,293.0
17790,NaN,7,7499000.0,96.3,2017-07-11T00:00:00,3,2.72,14.0,49.4,1,NaN,False,96.3,False,24.0,2.0,Санкт-Петербург,30088.0,10952.0,1.0,215.0,1.0,1205.0,261.0
11369,1564792,11,5390000.0,52.2,2018-08-18T00:00:00,2,NaN,12.0,30.0,9,NaN,False,52.2,False,8.0,NaN,Санкт-Петербург,33033.0,13163.0,1.0,223.0,2.0,354.0,NaN
14443,1564812.0,7,3800000.0,39.0,2019-01-26T00:00:00,1,2.65,10.0,20.0,8,NaN,False,39.0,False,10.7,NaN,Санкт-Петербург,16322.0,15118.0,1.0,507.0,0.0,NaN,19.0

In [6]:
# по желанию можно поменять местами значения стобцов для удобства работы командой 
# df[[name_column_1, name_column2, . . . name_column_n]]

### Описание данных
* airports_nearest — расстояние до ближайшего аэропорта в метрах (м)
* balcony — число балконов
* ceiling_height — высота потолков (м)
* cityCenters_nearest — расстояние до центра города (м)
* days_exposition — сколько дней было размещено объявление (от публикации до снятия)
* first_day_exposition — дата публикации
* floor — этаж
* floors_total — всего этажей в доме
* is_apartment — апартаменты (булев тип)
* kitchen_area — площадь кухни (м²)
* last_price — цена на момент снятия с публикации
* living_area — жилая площадь (м²)
* locality_name — название населённого пункта
* open_plan — свободная планировка (булев тип)
* parks_around3000 — число парков в радиусе 3 км
* parks_nearest — расстояние до ближайшего парка (м)
* ponds_around3000 — число водоёмов в радиусе 3 км
* ponds_nearest — расстояние до ближайшего водоёма (м)
* rooms — число комнат
* studio — квартира-студия (булев тип)
* total_area — площадь квартиры в квадратных метрах (м²)
* total_images — число фотографий квартиры в объявлении

# 2. Проверка данных и предварительный анализ

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 24 columns):
building_series_id      6517 non-null object
total_images            23699 non-null int64
last_price              23699 non-null float64
total_area              23699 non-null float64
first_day_exposition    23699 non-null object
rooms                   23699 non-null int64
ceiling_height          14504 non-null float64
floors_total            23613 non-null float64
living_area             21796 non-null float64
floor                   23699 non-null int64
is_apartment            2775 non-null object
studio                  23699 non-null bool
area                    23699 non-null float64
open_plan               23699 non-null bool
kitchen_area            21421 non-null float64
balcony                 12180 non-null float64
locality_name           23650 non-null object
airports_nearest        18157 non-null float64
cityCenters_nearest     18180 non-null float64
parks_around3000        18181 non-null float64
parks_nearest           8079 non-null float64
ponds_around3000        18181 non-null float64
ponds_nearest           9110 non-null float64
days_exposition         20518 non-null float64
dtypes: bool(2), float64(15), int64(3), object(4)
memory usage: 4.0+ MB

In [8]:
df.describe()

,total_images,last_price,total_area,rooms,ceiling_height,floors_total,living_area,floor,area,kitchen_area,balcony,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
count,23699.000000,2.369900e+04,23699.000000,23699.000000,14504.000000,23613.000000,21796.000000,23699.000000,23699.000000,21421.000000,12180.000000,18157.000000,18180.000000,18181.000000,8079.000000,18181.000000,9110.000000,20518.000000
mean,9.858475,6.541549e+06,60.348651,2.070636,2.771499,10.673824,34.457852,5.892358,60.348651,10.569807,1.150082,28793.672193,14191.277833,0.611408,490.804555,0.770255,517.980900,180.888634
std,5.682529,1.088701e+07,35.654083,1.078405,1.261056,6.597173,22.030445,4.885249,35.654083,5.905438,1.071300,12630.880622,8608.386210,0.802074,342.317995,0.938346,277.720643,219.727988
min,0.000000,1.219000e+04,12.000000,0.000000,1.000000,1.000000,2.000000,1.000000,12.000000,1.300000,0.000000,0.000000,181.000000,0.000000,1.000000,0.000000,13.000000,1.000000
25%,6.000000,3.400000e+06,40.000000,1.000000,2.520000,5.000000,18.600000,2.000000,40.000000,7.000000,0.000000,18585.000000,9238.000000,0.000000,288.000000,0.000000,294.000000,45.000000
50%,9.000000,4.650000e+06,52.000000,2.000000,2.650000,9.000000,30.000000,4.000000,52.000000,9.100000,1.000000,26726.000000,13098.500000,0.000000,455.000000,1.000000,502.000000,95.000000
75%,14.000000,6.800000e+06,69.900000,3.000000,2.800000,16.000000,42.300000,8.000000,69.900000,12.000000,2.000000,37273.000000,16293.000000,1.000000,612.000000,1.000000,729.000000,232.000000
max,50.000000,7.630000e+08,900.000000,19.000000,100.000000,60.000000,409.700000,33.000000,900.000000,112.000000,5.000000,84869.000000,65968.000000,3.000000,3190.000000,3.000000,1344.000000,1580.000000

In [9]:
df.head()

,building_series_id,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,area,open_plan,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,1564812,20,13000000.0,108.0,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,NaN,False,108.0,False,25.0,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,NaN,7,3350000.0,40.4,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,NaN,False,40.4,False,11.0,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,Сталинский,10,5196000.0,56.0,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,NaN,False,56.0,False,8.3,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,NaN,0,64900000.0,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,False,159.0,False,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,NaN,2,10000000.0,100.0,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,NaN,False,100.0,False,41.0,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0

In [10]:
df.duplicated().sum()

0

In [11]:
# Проверим столбцы которые могут быть схожи
df[df['area'] != df['total_area']]

Empty DataFrame
Columns: [building_series_id, total_images, last_price, total_area, first_day_exposition, rooms, ceiling_height, floors_total, living_area, floor, is_apartment, studio, area, open_plan, kitchen_area, balcony, locality_name, airports_nearest, cityCenters_nearest, parks_around3000, parks_nearest, ponds_around3000, ponds_nearest, days_exposition]
Index: []

### Выводы по предварительному анализу

- Неизвестное значение столбцов building_series_id и is_apartment    
- Пропуски значений в стобцах:
    - building_series_id    
    - ceiling_height 
    - living_area
    - floors_total
    - is_apartment 
    - kitchen_area
    - balcony  
    - locality_name 
    - airports_nearest 
    - cityCenters_nearest
    - parks_around3000    
    - parks_nearest  
    - ponds_around3000 
    - days_exposition  
- Столбец rooms c минимальным занчение 0 - выглядит странно
- Повтор столбцов total_area и area
- Столбец first_day_exposition тип не datetime
- Столбец ceiling_height слишком высоко макс занчение высоты потолков
- Стобец floors_total тоже слишком велик с макс значением если это не БЦ "Лахта Центр"
- Столбец kitchen_area слишком экстремально минимальное значение.


**В датасете** имеются пропуски и экстремально критические значение в столбцах, которые бросились в глаза при первичном осмотре, также встретилось дублирование столбцов, о котором следует учесть при дальнейших выгрузках.

# 3. Подготовка и очистка данных

## 3.1. Индексы и названия столбцов

In [12]:
# 1 столбец выбивается из списка CamelCase исправим
df.rename(columns={'cityCenters_nearest': 'city_centers_nearest'}, inplace=True)
# Проверим
df.columns.tolist()

['building_series_id',
 'total_images',
 'last_price',
 'total_area',
 'first_day_exposition',
 'rooms',
 'ceiling_height',
 'floors_total',
 'living_area',
 'floor',
 'is_apartment',
 'studio',
 'area',
 'open_plan',
 'kitchen_area',
 'balcony',
 'locality_name',
 'airports_nearest',
 'city_centers_nearest',
 'parks_around3000',
 'parks_nearest',
 'ponds_around3000',
 'ponds_nearest',
 'days_exposition']

## 3.2. Работа с дубликатами

In [13]:
# Удаляем дубликаты столбцов
df.drop(['area'], axis=1, inplace=True)

In [14]:
# Проверяем 
df.head(0)

Empty DataFrame
Columns: [building_series_id, total_images, last_price, total_area, first_day_exposition, rooms, ceiling_height, floors_total, living_area, floor, is_apartment, studio, open_plan, kitchen_area, balcony, locality_name, airports_nearest, city_centers_nearest, parks_around3000, parks_nearest, ponds_around3000, ponds_nearest, days_exposition]
Index: []

## 3.3. Поиск пропущенных значений

- building_series_id    
- ceiling_height 
- living_area
- floors_total
- is_apartment 
- kitchen_area
- balcony  
- locality_name 
- airports_nearest 
- cityCenters_nearest
- parks_around3000    
- parks_nearest  
- ponds_around3000 
- days_exposition

In [15]:
# Смотрим что с пропущенными значениями в процентном отношении
null_percentage = df.isnull().sum().sort_values(ascending=False)/len(df)*100
null_quantity = df.isnull().sum().sort_values(ascending=False)
col_isnull = pd.concat([null_percentage, null_quantity], axis=1)
col_isnull.columns = ['null_percentage','null_quantity']
col_isnull

                      null_percentage  null_quantity
is_apartment                88.290645          20924
building_series_id          72.500949          17182
parks_nearest               65.909954          15620
ponds_nearest               61.559559          14589
balcony                     48.605426          11519
ceiling_height              38.799105           9195
airports_nearest            23.384953           5542
city_centers_nearest        23.287902           5519
ponds_around3000            23.283683           5518
parks_around3000            23.283683           5518
days_exposition             13.422507           3181
kitchen_area                 9.612220           2278
living_area                  8.029875           1903
floors_total                 0.362885             86
locality_name                0.206760             49
open_plan                    0.000000              0
floor                        0.000000              0
rooms                        0.000000              0
first_day_exposition         0.000000              0
total_area                   0.000000              0
last_price                   0.000000              0
total_images                 0.000000              0
studio                       0.000000              0

### 3.3.1 Изучение пропусков

### Апартаменты

In [16]:
# Пока до конца не ясно что это за признак, но возможно это квартиры пригодные для жилья или нет
df['is_apartment'].value_counts()

False    2725
True       50
Name: is_apartment, dtype: int64

**Данный** признак не понадобиться для дальнейшего анализа, по этому проблемы с пропусками пропускаем

### Тип строения

In [17]:
df['building_series_id'].unique()

array(['1564812', nan, 'Сталинский', '1568627.0', '1564812.0',
       '1568643.0', '1564806.0', '1564796.0', '1569038.0', '1564801.0',
       '1564801', '1569071.0', '1564792', 'Панельный', '1569071',
       '1564792.0', '1569054.0', '1569033.0', '504', '1569066',
       '600.11 серия', '1568690.0', '1564806', '712041.0', 'Брежневка',
       '1568627', '1568663.0', 'Старый фонд с КР', '1568734.0',
       '137 серия', 'сталинский', '712041', '1569066.0', 'Хрущевка',
       '600', '1569033', '1568675.0', 'Кирпичный монолит', '1564796',
       'Индивидуальный', 'старый фонд', 'кирп.монолит', 'Кирпичный',
       '1568663', 'Старый фонд', '1568658', 'Кирп.Монолит', '1569075.0',
       '1568658.0', '7', '1569038', '1569054', '1569061.0',
       '121 (Гатчинская)', '1568675', '602 серия', '1 ЛГ - 600.11', '137',
       '606 серия', '1569088.0', '1569048.0', '100', '1568643',
       '1569041.0', '121', '1569079.0', '1569041', 'хрущевка', 'Блочный',
       'старый фонд + капремонт', 'монолит', 'кирпичный', '1ЛГ-502',
       '121(Гатчинская)', 'II-18/9', '13', '1568653', '1-528 КП - 2',
       '1569088', '504 серия', 'брежневка', 'Монол.Панельный', 'Корабль',
       '1568653.0', '121 гатчинская', '1568700', '1568690', '1ЛГ-6066М',
       '1-335-1', '1568700.0', '1-528-КП-97', '606',
       'Бесшовная технология', '1568734', '600.11', '1568708.0',
       'Монолит', 'ИТП', '1568709.0', '663278.0', 'индивидуальный',
       '504.0', '14', '1569079', '1569061', '1569048',
       'Старый фонд без КР', 'блочный', '121(гатчинская)', 'корабль',
       'Индивидуальный проект', 'ОД-6', '15', 'Г-24', '504Д',
       'старый фонд с кр', 'Индивид.', '12', 'Г-2И', '1-ЛГ-600-I', '16',
       '121.0'], dtype=object)

**Похоже** что стобец ```building_series_id``` характеризует конструктивные решения здания, которое не потребуется в исследовании

### Ближайший парк и ближайший водоем

- parks_nearest
- ponds_nearest
- ponds_around3000
- parks_around3000
- city_centers_nearest
- airports_nearest

### Балконы
- balcony

In [27]:
# Количество пропусков
df['balcony'].isna().sum()

11519

In [20]:
# Взглянем на общее распределение + 11519 пропущенных значений
df['balcony'].value_counts()

1.0    4195
0.0    3758
2.0    3659
5.0     304
4.0     183
3.0      81
Name: balcony, dtype: int64

In [44]:
# Посмотрим какое количество отсутствующих значений в столбце балконы на 1 этаже здания
df[(df['balcony'].isna()) & (df['floor'] == 1)]

,building_series_id,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,locality_name,airports_nearest,city_centers_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
16,NaN,11,6700000.0,82.0,2017-11-23T00:00:00,3,3.05,5.0,55.60,1,NaN,False,False,9.0,NaN,Санкт-Петербург,22108.0,10698.0,3.0,420.0,0.0,NaN,397.0
37,NaN,10,1990000.0,45.8,2017-10-28T00:00:00,2,2.50,5.0,NaN,1,NaN,False,False,NaN,NaN,поселок городского типа Красный Бор,NaN,NaN,NaN,NaN,NaN,NaN,196.0
70,NaN,9,3400000.0,30.0,2018-09-05T00:00:00,1,NaN,5.0,16.00,1,NaN,False,False,7.0,NaN,Санкт-Петербург,39053.0,8313.0,1.0,382.0,0.0,NaN,14.0
76,NaN,12,2800000.0,55.1,2016-05-14T00:00:00,3,2.60,5.0,38.40,1,NaN,False,False,4.9,NaN,Кировск,NaN,NaN,NaN,NaN,NaN,NaN,606.0
84,1564812.0,11,2400000.0,43.9,2019-03-13T00:00:00,2,NaN,2.0,27.46,1,NaN,False,False,5.2,NaN,Кировск,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23651,NaN,7,3350000.0,41.0,2018-12-17T00:00:00,1,NaN,6.0,18.00,1,NaN,False,False,12.0,NaN,посёлок городского типа Токсово,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23663,NaN,12,6400000.0,88.0,2018-01-12T00:00:00,4,2.55,10.0,NaN,1,NaN,False,False,NaN,NaN,Санкт-Петербург,33642.0,13943.0,0.0,NaN,2.0,844.0,59.0
23680,1569088.0,14,5000000.0,59.0,2019-04-04T00:00:00,3,2.50,5.0,52.00,1,NaN,False,False,7.0,NaN,Санкт-Петербург,26835.0,11878.0,0.0,NaN,0.0,NaN,NaN
23696,NaN,18,2500000.0,56.7,2018-02-11T00:00:00,2,NaN,3.0,29.70,1,NaN,False,False,NaN,NaN,село Рождествено,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23698,NaN,4,1350000.0,32.3,2017-07-21T00:00:00,1,2.50,5.0,12.30,1,NaN,False,False,9.0,NaN,поселок Новый Учхоз,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
# Меняем значение Nan на 0
df['balcony'] = df['balcony'].fillna(0)
# Проверяем замену
df['balcony'].isnull().sum()

0

In [54]:
# Меняем тип данных с float64 на int 
df['balcony'] = df['balcony'].astype(int)

In [59]:
df['balcony'].value_counts()

0    15277
1     4195
2     3659
5      304
4      183
3       81
Name: balcony, dtype: int64

**Если** человек не указал количество балконов -  это скорее всего означает что их нет, так как вероятность того что их нет выше чем вероятность того что он забыл их указать. Наличие балкона это несравненный плюс нежели его отсутствие. Также можно предположить что в частных строениях, часто будет отсутствовать данный признак.
Поэтому произвели замену на 0 и данный признак привели к целочисленному типу данных

### Высота потолков
- ceiling_height	

скорее всего не очень важный показатель. Нужно посмотреть госты и если среднее близко можно заменить на среднее или медиану

### Количество дней размещения публикации
- days_exposition

может показать ликвидность от района либо адекватность цены

### Площадь кухни
- kitchen_area

взглянуть пропуски в студиях

### Жилая площадь
- living_area

Посмотреть какую часть занимает от общей площади и посмотреть на графике зависимость цен

### Этажность дома  
- floors_total
Может помочь оценить динамику цен на последнем этаже дома

In [ ]:
### Населенный пункт  
- locality_name

Важный показатель

In [60]:
df['locality_name'].unique()

array(['Санкт-Петербург', 'посёлок Шушары', 'городской посёлок Янино-1',
       'посёлок Парголово', 'посёлок Мурино', 'Ломоносов', 'Сертолово',
       'Петергоф', 'Пушкин', 'деревня Кудрово', 'Коммунар', 'Колпино',
       'поселок городского типа Красный Бор', 'Гатчина', 'поселок Мурино',
       'деревня Фёдоровское', 'Выборг', 'Кронштадт', 'Кировск',
       'деревня Новое Девяткино', 'посёлок Металлострой',
       'посёлок городского типа Лебяжье',
       'посёлок городского типа Сиверский', 'поселок Молодцово',
       'поселок городского типа Кузьмоловский',
       'садовое товарищество Новая Ропша', 'Павловск',
       'деревня Пикколово', 'Всеволожск', 'Волхов', 'Кингисепп',
       'Приозерск', 'Сестрорецк', 'деревня Куттузи', 'посёлок Аннино',
       'поселок городского типа Ефимовский', 'посёлок Плодовое',
       'деревня Заклинье', 'поселок Торковичи', 'поселок Первомайское',
       'Красное Село', 'посёлок Понтонный', 'Сясьстрой', 'деревня Старая',
       'деревня Лесколово', 'посёлок Новый Свет', 'Сланцы',
       'село Путилово', 'Ивангород', 'Мурино', 'Шлиссельбург',
       'Никольское', 'Зеленогорск', 'Сосновый Бор', 'поселок Новый Свет',
       'деревня Оржицы', 'деревня Кальтино', 'Кудрово',
       'поселок Романовка', 'посёлок Бугры', 'поселок Бугры',
       'поселок городского типа Рощино', 'Кириши', 'Луга', 'Волосово',
       'Отрадное', 'село Павлово', 'поселок Оредеж', 'село Копорье',
       'посёлок городского типа Красный Бор', 'посёлок Молодёжное',
       'Тихвин', 'посёлок Победа', 'деревня Нурма',
       'поселок городского типа Синявино', 'Тосно',
       'посёлок городского типа Кузьмоловский', 'посёлок Стрельна',
       'Бокситогорск', 'посёлок Александровская', 'деревня Лопухинка',
       'Пикалёво', 'поселок Терволово',
       'поселок городского типа Советский', 'Подпорожье',
       'посёлок Петровское', 'посёлок городского типа Токсово',
       'поселок Сельцо', 'посёлок городского типа Вырица',
       'деревня Кипень', 'деревня Келози', 'деревня Вартемяги',
       'посёлок Тельмана', 'поселок Севастьяново',
       'городской поселок Большая Ижора', nan,
       'городской посёлок Павлово', 'деревня Агалатово',
       'посёлок Новогорелово', 'городской посёлок Лесогорский',
       'деревня Лаголово', 'поселок Цвелодубово',
       'поселок городского типа Рахья', 'поселок городского типа Вырица',
       'деревня Белогорка', 'поселок Заводской',
       'городской посёлок Новоселье', 'деревня Большие Колпаны',
       'деревня Горбунки', 'деревня Батово', 'деревня Заневка',
       'деревня Иссад', 'Приморск', 'городской посёлок Фёдоровское',
       'деревня Мистолово', 'Новая Ладога', 'поселок Зимитицы',
       'поселок Барышево', 'деревня Разметелево',
       'поселок городского типа имени Свердлова', 'деревня Пеники',
       'поселок Рябово', 'деревня Пудомяги', 'поселок станции Корнево',
       'деревня Низино', 'деревня Бегуницы', 'посёлок Поляны',
       'городской посёлок Мга', 'поселок Елизаветино',
       'посёлок городского типа Кузнечное', 'деревня Колтуши',
       'поселок Запорожское', 'посёлок городского типа Рощино',
       'деревня Гостилицы', 'деревня Малое Карлино',
       'посёлок Мичуринское', 'посёлок городского типа имени Морозова',
       'посёлок Песочный', 'посёлок Сосново', 'деревня Аро',
       'поселок Ильичёво', 'посёлок городского типа Тайцы',
       'деревня Малое Верево', 'деревня Извара', 'поселок станции Вещево',
       'село Паша', 'деревня Калитино',
       'посёлок городского типа Ульяновка', 'деревня Чудской Бор',
       'поселок городского типа Дубровка', 'деревня Мины',
       'поселок Войсковицы', 'посёлок городского типа имени Свердлова',
       'деревня Коркино', 'посёлок Ропша',
       'поселок городского типа Приладожский', 'посёлок Щеглово',
       'посёлок Гаврилово', 'Лодейное Поле', 'деревня Рабитицы',
       'поселок городского типа Никольский', 'деревня Кузьмолово',
       'деревня Малые Колпаны', 'поселок Тельмана',
       'посёлок Петро-Славянка', 'городской посёлок Назия',
       'посёлок Репино', 'посёлок Ильичёво', 'поселок Углово',
       'поселок Старая Малукса', 'садовое товарищество Рахья',
       'поселок Аннино', 'поселок Победа', 'деревня Меньково',
       'деревня Старые Бегуницы', 'посёлок Сапёрный', 'поселок Семрино',
       'поселок Гаврилово', 'поселок Глажево', 'поселок Кобринское',
       'деревня Гарболово', 'деревня Юкки',
       'поселок станции Приветнинское', 'деревня Мануйлово',
       'деревня Пчева', 'поселок Поляны', 'поселок Цвылёво',
       'поселок Мельниково', 'посёлок Пудость', 'посёлок Усть-Луга',
       'Светогорск', 'Любань', 'поселок Селезнёво',
       'поселок городского типа Рябово', 'Каменногорск', 'деревня Кривко',
       'поселок Глебычево', 'деревня Парицы', 'поселок Жилпосёлок',
       'посёлок городского типа Мга', 'городской поселок Янино-1',
       'посёлок Войскорово', 'село Никольское', 'посёлок Терволово',
       'поселок Стеклянный', 'посёлок городского типа Важины',
       'посёлок Мыза-Ивановка', 'село Русско-Высоцкое',
       'поселок городского типа Лебяжье',
       'поселок городского типа Форносово', 'село Старая Ладога',
       'поселок Житково', 'городской посёлок Виллози', 'деревня Лампово',
       'деревня Шпаньково', 'деревня Лаврики', 'посёлок Сумино',
       'посёлок Возрождение', 'деревня Старосиверская',
       'посёлок Кикерино', 'поселок Возрождение',
       'деревня Старое Хинколово', 'посёлок Пригородный',
       'посёлок Торфяное', 'городской посёлок Будогощь',
       'поселок Суходолье', 'поселок Красная Долина', 'деревня Хапо-Ое',
       'поселок городского типа Дружная Горка', 'поселок Лисий Нос',
       'деревня Яльгелево', 'посёлок Стеклянный', 'село Рождествено',
       'деревня Старополье', 'посёлок Левашово', 'деревня Сяськелево',
       'деревня Камышовка',
       'садоводческое некоммерческое товарищество Лесная Поляна',
       'деревня Хязельки', 'поселок Жилгородок',
       'посёлок городского типа Павлово', 'деревня Ялгино',
       'поселок Новый Учхоз', 'городской посёлок Рощино',
       'поселок Гончарово', 'поселок Почап', 'посёлок Сапёрное',
       'посёлок Платформа 69-й километр', 'поселок Каложицы',
       'деревня Фалилеево', 'деревня Пельгора',
       'поселок городского типа Лесогорский', 'деревня Торошковичи',
       'посёлок Белоостров', 'посёлок Алексеевка', 'поселок Серебрянский',
       'поселок Лукаши', 'поселок Петровское', 'деревня Щеглово',
       'поселок Мичуринское', 'деревня Тарасово', 'поселок Кингисеппский',
       'посёлок при железнодорожной станции Вещево', 'поселок Ушаки',
       'деревня Котлы', 'деревня Сижно', 'деревня Торосово',
       'посёлок Форт Красная Горка', 'поселок городского типа Токсово',
       'деревня Новолисино', 'посёлок станции Громово', 'деревня Глинка',
       'посёлок Мельниково', 'поселок городского типа Назия',
       'деревня Старая Пустошь', 'поселок Коммунары', 'поселок Починок',
       'посёлок городского типа Вознесенье', 'деревня Разбегаево',
       'посёлок городского типа Рябово', 'поселок Гладкое',
       'посёлок при железнодорожной станции Приветнинское',
       'поселок Тёсово-4', 'посёлок Жилгородок', 'деревня Бор',
       'посёлок Коробицыно', 'деревня Большая Вруда', 'деревня Курковицы',
       'посёлок Лисий Нос', 'городской посёлок Советский',
       'посёлок Кобралово', 'деревня Суоранда', 'поселок Кобралово',
       'поселок городского типа Кондратьево',
       'коттеджный поселок Счастье', 'поселок Любань', 'деревня Реброво',
       'деревня Зимитицы', 'деревня Тойворово', 'поселок Семиозерье',
       'поселок Лесное', 'поселок Совхозный', 'поселок Усть-Луга',
       'посёлок Ленинское', 'посёлок Суйда',
       'посёлок городского типа Форносово', 'деревня Нижние Осельки',
       'посёлок станции Свирь', 'поселок Перово', 'Высоцк',
       'поселок Гарболово', 'село Шум', 'поселок Котельский',
       'поселок станции Лужайка', 'деревня Большая Пустомержа',
       'поселок Красносельское', 'деревня Вахнова Кара', 'деревня Пижма',
       'коттеджный поселок Кивеннапа Север', 'поселок Коробицыно',
       'поселок Ромашки', 'посёлок Перово', 'деревня Каськово',
       'деревня Куровицы', 'посёлок Плоское', 'поселок Сумино',
       'поселок городского типа Большая Ижора', 'поселок Кирпичное',
       'деревня Ям-Тесово', 'деревня Раздолье', 'деревня Терпилицы',
       'посёлок Шугозеро', 'деревня Ваганово', 'поселок Пушное',
       'садовое товарищество Садко', 'посёлок Усть-Ижора',
       'деревня Выскатка', 'городской посёлок Свирьстрой',
       'поселок Громово', 'деревня Кисельня', 'посёлок Старая Малукса',
       'деревня Трубников Бор', 'поселок Калитино',
       'посёлок Высокоключевой', 'садовое товарищество Приладожский',
       'посёлок Пансионат Зелёный Бор', 'деревня Ненимяки',
       'поселок Пансионат Зелёный Бор', 'деревня Снегирёвка',
       'деревня Рапполово', 'деревня Пустынка', 'поселок Рабитицы',
       'деревня Большой Сабск', 'деревня Русско', 'деревня Лупполово',
       'деревня Большое Рейзино', 'деревня Малая Романовка',
       'поселок Дружноселье', 'поселок Пчевжа', 'поселок Володарское',
       'деревня Нижняя', 'коттеджный посёлок Лесное', 'деревня Тихковицы',
       'деревня Борисова Грива', 'посёлок Дзержинского'], dtype=object)